@import url("fontiran.css");

body {
  direction: rtl!important;
  text-align: right!important;
  color: #72777a;
  font-family: IRANSans, sans-serif;
  transition: all .2s ease-in-out;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

.sidebar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 3;
  transition: all .2s ease-in-out;
}

.page-overlay {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}

.page-container {
  min-height: 100vh;
  margin-right: 300px;
  transition: all .2s ease-in-out;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 300px);
  height: 70px;
  z-index: 1;
  transition: all .2s ease-in-out;
}

main {
  background-color: #f9fafb;
  padding: 90px 20px 20px;
  min-height: calc(100vh - 65px);
  transition: all .2s ease-in-out;
}

footer {
  background-color: #ffffff;
  border-top: 1px solid #efefef;
  height: 65px;
  text-align: center;
  line-height: 65px;
  font-size: 12px;
  color: #7c8695;
  z-index: 1;
  transition: all .2s ease-in-out;
}

.sidebar-show {
  right: 0!important;
  width: 300px!important;
}

.item-title-show {
  display: inline-block!important;
}

.sidebar-menu {
  border-left: 1px solid #efefef;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .2s ease-in-out;
}

.sidebar-menu > li > a {
  display: block;
  padding: 5px 15px;
  color: #72777a;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.sidebar-menu > li > a:hover {
  background-color: #f9fafb;
  color: #313435;
}

.sidebar-menu > li > a .item-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-left: 14px;
  text-align: center;
  font-size: 17px;
}

header .nav-right, header .nav-center, header .nav-left {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .nav-right {
  margin-right: 15px;
  font-size: 20px;
}

header .nav-right > li {
  float: right;
}

header .nav-left > li {
  float: left;
}

header .nav-right > li > a, header .nav-left > li > a {
  display: block;
  color: #72777a;
  text-decoration: none;
  min-height: 69px;
  line-height: 69px;
  padding: 0 15px;
  transition: all .2s ease-in-out;
}

header .nav-right > li > a:hover {
  color: #313435;
}

header .nav-center > li {
  min-height: 69px;
  line-height: 69px;
  padding: 0 15px;
}

header .nav-center > li > span {
  color: #72777a;
  font-size: 12px;
  font-weight: 500;
  transition: all .2s ease-in-out;
}

header .nav-center > li > span:hover {
  color: #313435;
  cursor: pointer;
}

header .nav-left > li > a::after {
  display: none;
}

header .nav-left > li > a > span {
  transition: all .2s ease-in-out;
}

header .nav-left > li > a:hover > span {
  color: #313435;
}

header .nav-left > li > a > img {
  max-width: 36px;
  max-height: 36px;
  margin-left: 12px;
  border-radius: 50%;
}

header .nav-left > li > a > span {
  font-size: 13px;
}

header .nav-left > li > ul {
  background-color: #ffffff;
  margin: 0;
  transform: translate3d(0, 70px, 0px)!important;
}

header .nav-left > li > ul > li > a {
  display: block;
  direction: rtl;
  text-align: right;
  color: #72777a;
  text-decoration: none;
  line-height: 1.5;
  min-height: auto;
  font-size: 13.5px;
  padding: 5px 15px;
  transition: all .2s ease-in-out;
}

header .nav-left > li > ul > li > a:hover {
  background-color: #f9fafb;
  color: #313435;
}

header .nav-left > li > ul > li > a > i {
  margin-left: 10px;
}

header .nav-left > li > ul > li.separator {
  border-bottom: 1px solid #efefef;
  height: 1px;
  overflow: hidden;
}

header .nav-left > li.night-mode {
  min-height: 69px;
  padding: 0 15px;
  margin-left: 20px;
}

.night-mode-input input {
  opacity: 0;
  width: 0;
  height: 0;
}

.night-mode-input {
  position: relative;
  top: 28px;
  display: inline-block;
  width: 45px;
  height: 15px;
  margin: 0;
}

.night-mode-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efefef;
  border-radius: 34px;
  transition: all .2s ease-in-out;
}

.night-mode-slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 24px;
  width: 24px;
  left: -4px;
  bottom: -5px;
  background-color: #72777a;
  transition: all .2s ease-in-out;
}

.night-mode input:checked + .night-mode-slider {
  background-color: #0d1321;
}

.night-mode input:checked + .night-mode-slider:before {
  transform: translateX(28px);
  background-color: #efefef;
}

.night-mode input:checked ~ .sun-icon {
  color: #0d1321;
}

.night-mode input:checked ~ .moon-icon {
  color: #181b24;
}

.sun-icon {
  color: #efefef;
  font-size: 14px;
  position: absolute;
  top: 1px;
  left: 1px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.moon-icon {
  color: #efefef;
  font-size: 14px;
  position: absolute;
  top: 1px;
  right: 2px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

main .row {
  margin: 0;
}

main > .row {
  margin: -10px;
}

main > .row > .row {
  width: 100%;
}

main .col-md-3, .col-md-6, .col-md-8, .col-md-10 {
  padding: 10px;
}

main .main-card {
  background-color: #ffffff;
  border: 1px solid #efefef;
  padding: 20px;
  transition: all .2s ease-in-out;
}

main .main-card:hover h6, main .main-card:hover h4 {
  color: #313435;
}

main .main-card  .card-title > h6, main .main-card  .card-title > h4 {
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  transition: all .2s ease-in-out;
}

main .main-card  .card-title > h4 {
  line-height: 1;
  font-size: 15px;
  font-weight: 500;
  transition: all .2s ease-in-out;
}

main .main-card  .card-content {
  margin-top: 30px;
}

.night-mode-a {
  background-color: #1d2230!important;
  border-color: #3b444f!important;
}

.night-mode-a li:hover, .night-mode-a li > a:hover, 
.night-mode-a li > span:hover, .night-mode-a > ul > li > a:hover > span,
.night-mode-a:hover h6, .night-mode-a:hover h4 {
  color: #efefef!important;
}

.night-mode-b {
  background-color: #181b24!important;
}

.night-mode-c {
  background-color: #1d2230!important;
  border-color: #5d646b!important;
}

.night-mode-c > li > a:hover {
  background-color: #181b24!important;
  color: #efefef!important;
}

.night-mode-d {
  background-color: #1d2230!important;
  border-color: #3b444f!important;
  color: #555555!important;
}

.night-mode-e {
  background-color: #1d2230!important;
  border-color: #3b444f!important;
}

.night-mode-e > li > a:hover {
  background-color: #181b24!important;
  color: #efefef!important;
}

@media only screen and (min-width: 768px) {
  header .nav-left {
    width: 350px;
  }

  header .nav-right {
    width: 335px;
  }
}

@media only screen and (max-width: 991px) {
  .nav-center {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .sidebar-bars {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .sidebar {
    width: 66px;
  }

  .sidebar:hover {
    width: 300px;
  }

  .sidebar:hover .item-title {
    display: inline-block;
  }

  .item-title {
    display: none;
  }

  .page-container {
    margin-right: 66px;
  }

  header {
    width: calc(100% - 66px);
  }
}

@media only screen and (max-width: 767px) {
  .sidebar {
    right: -300px;
  }

  .page-container {
    margin-right: 0;
  }

  header {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .night-mode {
    display: none;
  }
}
